<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pion common (libs + tests).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>pion core (server + plugins).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>pion net (libs + tests).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>pion platform (libs + plugins + tests).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E306A8100D6647260069A023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E306A8370D66481B0069A023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E306A8470D6648460069A023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E306A8570D66484E0069A023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E306A8670D6648570069A023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E306A8770D6648670069A023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E33288A10BEE5044006D0556</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E33288B70BEE50B4006D0556</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E36D8A5E0D29C9D800B4C134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E36D8A6B0D29CA6F00B4C134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E36D8BE60D29D6DC00B4C134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E36D8C0E0D29D78000B4C134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E36D8C190D29D7E300B4C134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E36D8C270D29D7EA00B4C134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E36F2E250CA789CD00120C6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E36F2E2D0CA78A0400120C6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E370CDA6158D939700E46EE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E370CDB8158D93D300E46EE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E370CDCA158D93E600E46EE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E370CDE0158D948000E46EE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E370CDF8158D949200E46EE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E370CE10158D94A100E46EE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E370CE2E158D962000E46EE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E370CE78158D962700E46EE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E370CF00158E6AEE00E46EE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E370CF15158E6C0B00E46EE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E370CF23158E6C1A00E46EE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E370CF3C158E769300E46EE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3B1C9990E17F23C00640970</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3C1B3130D71D261006B8329</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3C1B3230D71D26E006B8329</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3C1B3350D71D4F3006B8329</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3C1B3450D71D50F006B8329</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3C1B3F00D71DEB5006B8329</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3CFF95B0D44340800ADB135</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3E6AE380D5A5E5100A9C68F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3EFC68E0D18905C0019CCD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3FBA7440D8F11F000D66A53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3FF95810D5789BE001E075B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3FF96120D579AB8001E075B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3FF96370D579ABB001E075B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
